<div class="flex justify-center align-center gap-7">
  <div class="px-8 py-5 rounded-3xl bg-sec-color">
    <p class="text-3xl font-medium">71,028 <span class="text-base">EGP</span></p>
    <p class="font-semibold">Total Value</p>
    <p class="text-main-color"><i class="fa-solid fa-caret-down"></i> 2%</p>
  </div>
  <div class="px-8 py-5 rounded-3xl bg-white">
    <p class="text-3xl font-medium">20,000 <span class="text-base">m<sup>3</sup></span></p>
    <p class="font-semibold">Total Sales</p>
    <p class="text-cyan-600"><i class="fa-solid fa-caret-up"></i> 50m<sup>3</sup></p>
  </div>
  <div class="px-8 py-5 rounded-3xl bg-white">
    <p class="text-3xl font-medium">20,000 <span class="text-base">EGP</span></p>
    <p class="font-semibold">Avg Sales</p>
    <p class="text-main-color"><i class="fa-solid fa-caret-down"></i> 50m<sup>3</sup></p>
  </div>
  <div class="px-8 py-5 rounded-3xl bg-white">
    <p class="text-3xl font-medium">1567 <span class="text-base">EGP</span></p>
    <p class="font-semibold">Total Transaction Count</p>
    <p class="text-cyan-600"><i class="fa-solid fa-caret-up"></i> 20</p>
  </div>
</div>