<div class="text-center">
  <p class="text-2xl font-semibold pb-8">Hourly Sales</p>
  <div echarts [options]="option" class="h-full w-full"></div>
  <p class="text-xl font-semibold pb-10">Sales by Station</p>
  <div class="p-6 space-y-10">
    <div>
      <div class="flex justify-between align-center gap-4">
        <div class="flex justify-center gap-2 align-center">
          <i class="fa-solid fa-gas-pump text-4xl"></i>
          <p class="text-sm font-semibold pt-1">Station Name</p>
        </div>
        <p class="text-xl font-semibold h-fit">43,434m<sup>3</sup></p>
      </div>
      <div class="rounded-full w-full h-1 mt-2 bg-sec-color relative">
        <div
          class="absolute w-20 left-0 top-0 rounded-full h-1 bg-main-color"
        ></div>
      </div>
    </div>
    <div>
      <div class="flex justify-between align-center gap-4">
        <div class="flex justify-center gap-2 align-center">
          <i class="fa-solid fa-gas-pump text-4xl"></i>
          <p class="text-sm font-semibold pt-1">Station Name</p>
        </div>
        <p class="text-xl font-semibold h-fit">43,434m<sup>3</sup></p>
      </div>
      <div class="rounded-full w-full h-1 mt-2 bg-sec-color relative">
        <div
          class="absolute w-20 left-0 top-0 rounded-full h-1 bg-main-color"
        ></div>
      </div>
    </div>
    <div>
      <div class="flex justify-between align-center gap-4">
        <div class="flex justify-center gap-2 align-center">
          <i class="fa-solid fa-gas-pump text-4xl"></i>
          <p class="text-sm font-semibold pt-1">Station Name</p>
        </div>
        <p class="text-xl font-semibold h-fit" style="color: #b9cde2;">NM</p>
      </div>
      <div class="rounded-full w-full h-1 mt-2 bg-sec-color " style="background-color: #b9cde2;">

      </div>
    </div>
  </div>
</div>
