<aside class="fixed top-0 left-0 h-full bg-main-color p-8 flex flex-col rounded-r-3xl justify-between align-center z-20">
  <div><i class="fa-solid fa-droplet text-4xl text-white opacity-75 text-center"></i></div>
  <div class="flex flex-col gap-6 align-center text-center">
    <div >
      <i class="fa-solid fa-gauge-high text-3xl text-white opacity-75"></i>
    </div>
    <div >
      <i class="fa-solid fa-border-all text-3xl text-white opacity-75"></i>
    </div>
    <div >
      <i class="fa-solid fa-layer-group  text-3xl text-white opacity-75"></i>
    </div>
    <div >
      <i class="fa-solid fa-gear  text-3xl text-white opacity-75"></i>
    </div>
    <div >
      <i class="fa-solid fa-bell  text-3xl text-white opacity-75"></i>
    </div>

  </div>
  <div class="mb-10">
    <i><i class="fa-solid fa-arrow-right-to-bracket text-3xl text-white opacity-75"></i></i>
  </div>
</aside>